/* COMMON CSS DOCUMENT */
.navbar-default {
    height: 50px !important;s
}

/*ERRORS MESSAGE*/
.errors, .message {
    border: solid 1px white;
    background-color: #F3DAF9;
    padding-top: 10px;
}
